<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/drivers/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  
    <div class="show">
    <div>First: </div>
    <div>
      <%= driver.first %>
    </div>
    <div>last: </div>
    <div><%= driver.last %></div>
    <div>Gender: </div>
    <div><%= driver.gender %></div>
    <div>Birth: </div>
    <div><%= driver.birth %></div>
    <div>Instagram Tag: </div>
    <div><%= driver.insta %></div>
    <div> Facebook: </div>
    <div><%= driver.facebook %></div>
    <h1><a href="/drivers/<%= driver._id %>/edit"><button>Edit</button></a></h1>
  </div>
  

</main>
  

<%- include('../partials/footer') %>