<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css" />
<%- include('../partials/nav') %>

<main>
  <% if (isSelf) { %>
    <h1>Add Your Dream Car In Your Profile.</h1>
    <form id="new-form" action="/profiles/<%= profile._id %>/cars"method="POST">
      <label for="title-input">Make:</label>
      <input type="text" name="title" id="title-input" />
      <label for="model">Model:</label>
      <input type="text" name="model" id="title-input" />
      <button type="submit">Add Vihecle</button>
    </form>
  <% } %>
  <% if (profile.cars.length) { %>
    <h2>
      <%= isSelf ? "Your Dream Cars" : `${profile.name} Your Dream Cars` %>.
    </h2>
    <% profile.cars.forEach(car => { %>
      <h3>
        <%= car.title %> <%= car.model %> 
        <% if (isSelf) { %>
          <form 
            action="/profiles/<%= profile._id %>/cars/<%= car.id %>?_method=DELETE"
            method="post"
            style="display: inline-block;"
          >
            <button type="submit"> Delete <%= car.title %></button>
          </form>
        <% } %>   
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any cars!
    </h2>
  <% } %> 
</main>

  <%- include('../partials/footer') %>