<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cars/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Make: </div>
    <div>
      <%= car.title %>
    </div>
    <div>Car Model: </div>
    <div><%= car.model %></div>
    <a href="/cars/<%= car._id %>/edit">
      <button>Edit Car</button>
    </a>
  </section>
</form>
  

<%- include('../partials/footer') %>