<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cars/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Make: </div>
    <div>
      <%= car.title %>
    </div>
    <div>Car Model: </div>
    <div><%= car.model %></div>
    <div>Engine: </div>
    <div><%= car.engine %></div>
    <div>Manufacture: </div>
    <div><%= car.manufactureYear %></div>
    <div>HorsePower: </div>
    <div><%= car.horsePower %></div>
    <div> Torque: </div>
    <div><%= car.torque %></div>
    <div>0-60mph: </div>
    <div><%= car.zeroToSixty %></div>
  </section>
</form>
  

<%- include('../partials/footer') %>